<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoice_stock.name %>
</p>

<%= link_to 'Edit', edit_invoice_stock_path(@invoice_stock) %> |
<%= link_to 'Back', invoice_stocks_path %>
